body.dracula {
    --bg-input-search: #282A36;
    --cor-font-input: #EFA554;
    --focus-input: #9B6BDF;
    --cor-placeholder-input: #E356A7;
    --bg-button-search: #282A36;
    --cor-button-search: #50FA7B;
    --bg-button-search-hover: #282A36;
    --boxShadow-input-search: #9B6BDF;

    --visible-info-cor:#F1FA8C;
    --visible-info2-cor: #E64747;

    --openW-maps-h2-cor: #EFA554;

    --img-bg: initial;
    --img-bg-tempNow: initial;

    --bg-color: #262626; 
    --bg-color-week: #282A36;

    --shawdow-b-week: #9B6BDF;

    --icon-head: #50FA7B;

    --text-city: #E356A7;

    --h1-temp: #F1FA8C;
    --span-temp: #E4F34A;
    --p-temp: #8BE9FD;
    --b-temp: #E64747;
    --bg-statistics: transparent;
    --icon-statics: #EFA554;
    --info-statics: #8BE9FD;
    --span-info: #75D7EC;

    --icon-air-sun: #50FA7B;
    --head-air-sun: #E356A7;

    --air-p-num: #42E66C;
    --air-strong-info: #F1FA8C;

    --icon-main-sun: #E64747;

    --h3-days: #FFB86C;
    --foo-p-days: #75D7EC;
    --s-foo-days: #FF5555;
    --foo-data-cor: #EFA554;

    --styleCoords: #E64747;
    --stylePCoords: #7A7A7A;
}
// #141420
// #1f1d2b

// #262626
// #E356A7
// #42E66C
// #E4F34A
// #9B6BDF
// #E64747
// #75D7EC
// #EFA554
// #7A7A7A
// #FF79C6
// #50FA7B
// #F1FA8C
// #BD93F9
// #FF5555
// #8BE9FD
// #FFB86C
