@use 'themes';
@use 'variables';

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.login-container {
  background-color: var(--input-bg);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.input-group input {
  background-color: var(--input-bg);
  color: var(--text-color);
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  width: 100%;
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  filter: brightness(0.9);
}
