@mixin border-div(){
    border-radius: 19px;
    background: var(--bg-cards);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
}

@media screen and (min-width: 551px) and (max-width: 800px) {
    
    .container {
        max-width: 1120px;
        margin: 0 auto;
        padding: 20px;

        

        .head {
            width: 100%;
            padding: 20px  40px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;

            @include border-div();

            .user-info {
                display: flex;
                

                .img {
                    width: 110px;
                    height: 110px;

                    @include border-div();
                    overflow: hidden;

                    img{
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        object-fit: fill;
                    }
                }
    
                .nome-user {
                    max-width: 110px;
                    margin-top: 15px;
                    h1 {
                        width: 100%;
                        font-size: medium;
                        text-align: center;

                        color: var(--bg-techs);
                    }
                }

                .info-rede {
                    

                    .bio {
                    
                        max-width: 520px;
                        margin: 0px 0px 0px 30px;
    
                        h2 {
                            font-size: medium;

                            color: var(--bg-techs);
                        }
                        p {
                            margin-top: 5px;
                            font-size: clamp(.3em,.3em + 1vw,1.2em);
                        }
                    }

                    .links {
                        display: flex;
                        gap: 15px;
                        margin: 15px 0px 0px 30px;

                        a {
                            .i-link {
                                width: 28px;
                                height: 28px;
                                
                                
                            }

                        }
                    }
                }
            }



            .skills-user {
                @include border-div();

                margin-top: 0px;
                margin-left: 0px;
                padding: 20px 20px 20px 20px;

                h2 {
                    font-size: medium;

                    color: var(--bg-techs);
                }

                .skill {
                    margin-top: 14px;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;

                    gap: 10px;

                    .item-skills {
                        background-color: var(--bg-techs);
                        border-radius: 10px;
                        padding: 5px 8px;

                        p {
                            font-size: clamp(.2em,.3em + 1vw,.6em);
                            text-align: center;
                            color: var(--text-p-skills);
                            
                            font-weight: var(--bold);
                        }
                    }
                }
            }
        }

// inicio do main
        .content {
            width: 100%;
            height: auto;

            display: flex;
            
            margin-top: 30px;
            
            .menu {
                @include border-div();  
                width: 350px;
                height: 340px;
                display: flex;
                padding: 30px;
               

                .m-ul {
                
                    list-style: none;
                    
                    height: auto;
                    .m-li {
                        display: flex;
                        margin: 10px 0px;

                        .text {
                            font-size: small;
                            padding-left: 15px;
                        }                    
                    }
                }
            }


// inicio card
            .cards-container {
                width: 100%;
                height: auto;


                .text-github {
                    margin: 0px 0px 20px 20px;
                    @include border-div();
                    padding: 15px 30px;
                    text-align: center;
                    color: var(--bg-techs);
                }

                .card {
                    @include border-div();
                    padding: 30px;
                    margin: 0px 0px 20px 20px;

                    &:hover {
                        transform: scale(1.1);
                        transition: all 500ms;
                        background-color: #464658;
                        color:#75D7EC;
                        font-weight: var(--bold);
                    }


                    .s-desc {
                        margin: 10px 0px;

                        &::before {
                            content: "";
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background-color: var(--bg-techs);

                            margin-right: 10px;
                        }
                    }
                    .lang {
                        color: var(--bg-lang);
                        font-size: var(--normal-font-size);

                        &::before {
                            content: "";
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background-color: var(--bg-techs);

                            margin-right: 10px;
                        }
                    }
                }
            }

        }

// inicio do footer
        .footer {
            width: 100%;
            height: auto;
            
            .icon-rede {
                @include border-div();
                margin: 40px 0px 5px 20px;
                padding: 30px;

                .text-footer {
                    text-align: center;
                    color: var(--bg-techs);
                    margin-bottom: 15px;
                }

                
                .icons {
                   display: flex;
                   justify-content: space-between;
               
                   max-width: 500px;
                   margin: 0 auto;
                    

                    a {

                        .icon-img {
                            width: 24px;
                            height: 24px;
                        }
                    }
               }
            }
        }
    }
}
