@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
// font-family: 'Inter', sans-serif;

@import './utils/header.scss';
@import './utils/content.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: 'Inter', sans-serif;

	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body {
	background-color: #1A1A1A;
}

.isolate {
	width: 100%;
	height: auto;
}