@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu+Mono:wght@400;700&display=swap');
@import 'theme-dark.css';
@import 'theme-light.css';
@import 'toggle-mode.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg-color: #f8fafc;
  --text-color: #0f172a;
  --border: 1px solid rgba(15, 23, 42, 0.15);
  --bg-hover: #ede9fe;
  --box-shadow: 0rem 0.4rem 3.2rem rgba(15, 23, 42, 0.15);
  --outline-color: #7c3aed;
  --value-color: #7c3aed;

  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
  background: var(--bg-color);

  height: 100vh;
  display: grid;
  place-content: center;

  color: var(--text-color);

  margin: 2.5rem 0rem;
}

main {
  padding: 6.4rem 8rem;
  background: var(--bg-color);
  box-shadow: var(--box-shadow);
  border-radius: 1.6rem;

  display: grid;
  gap: 6.4rem;
  position: relative;
}

section h1 {
  font-size: 2.0rem;
  line-height: 2.5rem;
  font-family: 'Ubuntu Mono', monospace;
}

.conversor .wrapper {
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;

  height: auto;
}

.money-wrapper {
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);

  width: 50rem;
  padding: 1.6rem;
  border-radius: 0.8rem;

  display: flex;
  align-items: center;

  position: relative;

  height: auto;

  .inputs {
    border: 0;
    font-size: 1.5rem;
    font-family: 'Ubuntu Mono', monospace;
    line-height: 2.4rem;

    background-color: var(--bg-color);
    color: var(--value-color);
    width: 100%;
    margin-left: 5px;

    outline: none;
  }
}

.info-moeda {
  width: 100%;
  display: grid;
}

.info-moeda>span {
  text-align: center;
}


.money-wrapper:hover,
.money-wrapper:has(:focus) {
  outline: 0.25rem solid var(--outline-color);
}

.amount {
  border: 0;
  font-size: 1.5rem;
  font-family: 'Ubuntu Mono', monospace;
  line-height: 2.4rem;

  color: var(--text-color);
  width: 100%;
}

.amount-text {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.5rem;

  .amount-value {
    color: var(--value-color);
  }
}

.data {
  display: flex;
  justify-content: center;
  gap: 5px;

  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.5rem;

  .amount-data {
    color: var(--value-color);
  }
}

.amount:focus {
  outline: 0;
}

.dropdown {
  position: absolute;
  top: 0;
  right: 0;

  height: 5.6rem;
  overflow: hidden;

  margin: 10px;
}

.dropdown:hover {
  height: fit-content;
  overflow: initial;
}

.selected {
  width: 15rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;

  border-radius: 0 0.8rem 0.8rem 0;

  padding: 1.6rem;

  cursor: pointer;

  border: var(--border);
  background-color: var(--bg-hover);
  color: var(--text-color);
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  transition: 500ms;
}

.selected>option {
  font-size: 1.4rem;
  font-weight: 400;
}

.selected option:hover {
  background-color: var(--bg-hover);

}

li:hover,
.selected:hover {
  background-color: var(--bg-hover);
  transform: translateX(-20px);
  border-radius: 0.8rem;
}

.dropdown-converter {
  position: absolute;
  top: 2.5px;
  right: 3px;

  height: 100%;
  overflow: hidden;
}

.dropdown-converter:hover {
  height: fit-content;
  overflow: initial;
}

.dropdown-converter .selected-converter {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  border-radius: 0 0.8rem 0.8rem 0;

  padding: 1.6rem;

  cursor: pointer;

  border: none;
  background-color: var(--bg-hover);
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  transition: 500ms;
}

.dropdown-converter .selected-converter li:hover,
.selected-converter:hover {
  background-color: var(--bg-hover);
  transform: translateX(-20px);
  border-radius: 0.8rem;
}

.fi.fis {
  font-size: 2.4rem;
  border-radius: 50%;
}

.middle {
  width: 100%;
  padding: 8px 0px;

  display: flex;
  justify-content: center;
}

.middle button {
  padding: 3px 15px;
  background-color: var(--bg-hover);

  border: 1px solid rgba(15, 23, 42, 0.15);
  border-radius: 0.5rem;
  box-shadow: 1rem 0.4rem 3.2rem rgba(15, 23, 42, 0.15);
}

.middle button:hover {
  transform: scale(.9);
}

.conversor #res-converter {
  margin-top: 10px;
}

.value-color {
  color: var(--value-color);
}

@media (max-width: 48rem) {
  main {
    padding: 1.6rem;
    gap: 3.2rem
  }

  section h2 {
    font-size: 1.6rem;
  }

  .conversor .wrapper {
    flex-direction: column;
    gap: .8rem;
  }

  .money-wrapper {
    width: 100%;
  }
}