:root[data-theme="themeDark"] {
    --bg-color: #121212; 
    --text-color: #FFFFFF;
    --border: 1px solid rgba(139, 23, 192, 0.205);
    --bg-hover: #4f015f;
    --box-shadow: 0rem 0.4rem 3.2rem rgba(146, 26, 194, 0.24);
    --outline-color: rgba(146, 26, 194, 0.24);
    --value-color: #9828b4;
}