.toggle-switch {
    position: absolute;
    top: 15px;
    right: 20px;

    .checkbox-oculto {
        display: none;
    }

    .switch-label {
        display: block;
        width: 50px;
        height: 25px;
        background-color: #ede9fe;
        border-radius: 25px;
        position: relative;
        cursor: pointer;
        transition: background-color 0.4s;
    }

    .switch-label::after {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        width: 19px;
        height: 19px;
        background-color: white;
        border-radius: 50%;
        transition: transform 0.4s;
    }

    .checkbox-oculto:checked+.switch-label {
        background-color: var(--bg-hover);
        ;
    }

    .checkbox-oculto:checked+.switch-label::after {
        transform: translateX(25px);
    }
}